<div class="menu app-menu">

  {% if perms.spl_members.view_member %}
    {% if 'member-' in request.resolver_match.url_name %}
      <div class="menu-member menu-here">
        <a href="{% url 'spl_members:member-list' %}">Members</a>
      </div>
    {% else %}
      <div class="menu-member">
        <a href="{% url 'spl_members:member-list' %}">Members</a>
      </div>
    {% endif %}
  {% endif %}
{% if perms.spl_members.view_jobposition %}
  {% if 'jobposition' in request.resolver_match.url_name %}
  <div class="menu-member menu-here">
        <a href="{% url 'spl_members:jobposition-list' %}">Job Positions</a>
      </div>
    {% else %}
      <div class="menu-member">
        <a href="{% url 'spl_members:jobposition-list' %}">Job Positions</a>
      </div>
      {% endif %}
    {% endif %}

</div>
