{% extends 'touglates/base.html' %}
{% load static %}
{% load touglates_tags %}
<!DOCTYPE html>
<html lang='en'>
<head>
<title>Library Technical Inventory</title>
<script src="{% static 'touglates/touglates.js' %}"></script>
{% block head_stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'spl_members/spl_members.css' %}">
{% project_include_file 'main_css' as cssfile %}
{% if cssfile %}<link rel="stylesheet" href="{% static cssfile %}">{% endif %}
{% endblock %}
</head>
{% block body %}
<body>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% block menu %}
{% project_include_file 'main_menu' as includefile %}
{% if includefile %}
  {% include includefile %}
{% endif %}
{% include './_app_menu.html' %}
{% endblock %}
{% block content %}{% endblock %}
{% block bottomscript %}
{{ block.super }}
{% endblock %}
</body>
{% endblock %}
</html>
