<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.view_department %}
      {% if 'department-list' == request.resolver_match.url_name %}
        <div class="menu-department menu-list menu-here">
            List
        </div>
      {% else %}
        <div class="menu-department menu-list">
          <a href="{% url 'spl_members:department-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_department %}
      {% if 'department-detail' == request.resolver_match.url_name %}
        <div class="menu-department menu-detail menu-here">
            View
        </div>
      {% elif object.pk %}
        <div class="menu-department menu-detail">
          <a href="{% url 'spl_members:department-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_department %}
      {% if 'department-create' == request.resolver_match.url_name %}
        <div class="menu-department menu-here menu-create">
          <button form="form_department" class="menu-department" type="submit" >Submit</button></form>
        </div>
      {% else %}
        <div class="menu-department menu-create">
          <a href="{% url 'spl_members:department-create' %}">Add</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.change_department %}
      {% if 'department-update' == request.resolver_match.url_name %}
        <div class="menu-department menu-update menu-here">
          <button type="submit" form="form_department" class="menu-department menu-here" >Submit Changes</button>
        </div>
      {% elif object.pk %}
        <div class="menu-department menu-update">
          <a href="{% url 'spl_members:department-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.delete_department %}
      {% if 'department-delete' == request.resolver_match.url_name %}
        <div class="menu-department menu-delete menu-here">
          <form method="POST" action="{% url 'spl_members:department-delete' object.pk %}">
            {% csrf_token %}
            <button type="submit" class="menu-department" >Confirm Delete</button>
          </form>
        </div>
      {% elif object.pk %}
        <div class="menu-department menu-delete">
          <a href="{% url 'spl_members:department-delete' object.pk %}">Delete</a>
        </div>
      {% endif %}
    {% endif %}


  </div>


</div>
