<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.view_jobposition %}
      {% if 'jobposition-list' == request.resolver_match.url_name %}
        <div class="menu-jobposition menu-list menu-here">
            List
        </div>
      {% else %}
        <div class="menu-jobposition menu-list">
          <a href="{% url 'spl_members:jobposition-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_jobposition %}
      {% if 'jobposition-detail' == request.resolver_match.url_name %}
        <div class="menu-jobposition menu-detail menu-here">
            View
        </div>
      {% elif object.pk %}
        <div class="menu-jobposition menu-detail">
          <a href="{% url 'spl_members:jobposition-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_jobposition %}
      {% if 'jobposition-create' == request.resolver_match.url_name %}
        <div class="menu-jobposition menu-here menu-create">
          <button form="form_jobposition" class="menu-jobposition" type="submit" >Submit</button></form>
        </div>
      {% else %}
        <div class="menu-jobposition menu-create">
          <a href="{% url 'spl_members:jobposition-create' %}">Add</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.change_jobposition %}
      {% if 'jobposition-update' == request.resolver_match.url_name %}
        <div class="menu-jobposition menu-update menu-here">
          <button type="submit" form="form_jobposition" class="menu-jobposition menu-here" >Submit Changes</button>
        </div>
      {% elif object.pk %}
        <div class="menu-jobposition menu-update">
          <a href="{% url 'spl_members:jobposition-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.delete_jobposition %}
      {% if 'jobposition-delete' == request.resolver_match.url_name %}
        <div class="menu-jobposition menu-delete menu-here">
          <form method="POST" action="{% url 'spl_members:jobposition-delete' object.pk %}">
            {% csrf_token %}
            <button type="submit" class="menu-jobposition" >Confirm Delete</button>
          </form>
        </div>
      {% elif object.pk %}
        <div class="menu-jobposition menu-delete">
          <a href="{% url 'spl_members:jobposition-delete' object.pk %}">Delete</a>
        </div>
      {% endif %}
    {% endif %}


  </div>


</div>
