<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.view_member %}
      {% if 'member-list' == request.resolver_match.url_name %}
        <div class="menu-member menu-list menu-here">
            List
        </div>
      {% else %}
        <div class="menu-member menu-list">
          <a href="{% url 'spl_members:member-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_member %}
      {% if 'member-detail' == request.resolver_match.url_name %}
        <div class="menu-member menu-detail menu-here">
            View
        </div>
      {% elif object.pk %}
        <div class="menu-member menu-detail">
          <a href="{% url 'spl_members:member-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_member %}
      {% if 'member-create' == request.resolver_match.url_name %}
        <div class="menu-member menu-here menu-create">
          <button form="form_member" class="menu-member" type="submit" >Submit</button></form>
        </div>
      {% else %}
        <div class="menu-member menu-create">
          <a href="{% url 'spl_members:member-create' %}">Add</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.change_member %}
      {% if 'member-update' == request.resolver_match.url_name %}
        <div class="menu-member menu-update menu-here">
          <button type="submit" form="form_member" class="menu-member menu-here" >Submit Changes</button>
        </div>
      {% elif object.pk %}
        <div class="menu-member menu-update">
          <a href="{% url 'spl_members:member-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.delete_member %}
      {% if 'member-delete' == request.resolver_match.url_name %}
        <div class="menu-member menu-delete menu-here">
          <form method="POST" action="{% url 'spl_members:member-delete' object.pk %}">
            {% csrf_token %}
            <button type="submit" class="menu-member" >Confirm Delete</button>
          </form>
        </div>
      {% elif object.pk %}
        <div class="menu-member menu-delete">
          <a href="{% url 'spl_members:member-delete' object.pk %}">Delete</a>
        </div>
      {% endif %}
    {% endif %}


  </div>


</div>
