<div class="detail">
  {% include 'touglates/detail_field.html' with label=member_labels.name_prefered field=object.name_prefered %}
  {% include 'touglates/detail_field.html' with label=member_labels.surname field=object.surname %}
  {% include 'touglates/detail_field.html' with label=member_labels.name_full field=object.name_full %}
  {% include 'touglates/detail_field.html' with label=member_labels.jobposition field=object.jobposition %}
  {% include 'touglates/detail_field.html' with label=member_labels.email field=object.email %}
  {% include 'touglates/detail_field.html' with label=member_labels.phone field=object.phone %}
  {% include 'touglates/detail_field.html' with label=member_labels.start_date field=object.start_date %}
  {% include 'touglates/detail_field.html' with label=member_labels.end_date field=object.end_date %}
  {% include 'touglates/detail_field.html' with label=member_labels.is_active field=object.is_active %}

  <h3>Notes</h3><span id="div_memberNotes">Showing All </span><a href="#" id="a_toggleNotes">Show Flagged</a>
  {% for membernote in object.membernote_set.all %}
    <div class="relatedset relatedmembernote level{{ memberNote.membernotelevel }} {% if membernote.flagged %} flagged{% endif %}" id="div_membernote-{{ forloop.counter0 }}">
      {% include 'touglates/list_fields.html' with field_1_label='Note:' field_1=membernote.when field_2=membernote.membernotecategory|default_if_none:'' field_3=membernote.maintext %}
    </div>
  {% endfor %}

</div>

