  <div class="detail">
    {% include 'touglates/detail_field.html' with label=appointment_labels.customer field=object.customer %}
    {% include 'touglates/detail_field.html' with label=appointment_labels.when_submitted field=object.when_submitted %}
    {% include 'touglates/detail_field.html' with label=appointment_labels.staffer field=object.staffer %}
    {% include 'touglates/detail_field.html' with label=appointment_labels.when_started field=object.when_started %}
    {% include 'touglates/detail_field.html' with label=appointment_labels.where_scheduled field=object.where_scheduled %}
    {% include 'touglates/detail_field.html' with label=appointment_labels.status field=object.status %}

    <h3>Notes</h3><span id="div_appointmentNotes">Showing All </span><a href="#" id="a_toggleNotes">Show Flagged</a>
    {% for appointmentnote in object.appointmentnote_set.all %}
      <div class="relatedset relatedappointmentnote level{{ appointmentNote.appointmentnotelevel }} {% if appointmentnote.flagged %} flagged{% endif %}" id="div_appointmentnote-{{ forloop.counter0 }}">
        {% include 'touglates/list_fields.html' with field_1_label='Note:' field_1=appointmentnote.when field_2=appointmentnote.appointmentnotecategory|default_if_none:'' field_3=appointmentnote.maintext %}
      </div>
    {% endfor %}

  </div>

