
<div class="form">
  {{ form.errors }}
  <form id="form_appointment" method="POST">
  {{ form.media }}
    {% csrf_token %}

    <div id="div_name_prefered">
      {% include 'touglates/form_field.html' with field=form.name_prefered %}
    </div>
    <div id="div_surname">
      {% include 'touglates/form_field.html' with field=form.surname %}
    </div>
    <div id="div_name_full">
      {% include 'touglates/form_field.html' with field=form.name_full %}
    </div>
    <div id="div_jobposition">
      {% include 'touglates/form_field.html' with field=form.jobposition %}
    </div>
    <div id="div_email">
      {% include 'touglates/form_field.html' with field=form.email %}
    </div>
    <div id="div_phone">
      {% include 'touglates/form_field.html' with field=form.phone %}
    </div>
    <div id="div_start_date">
      {% include 'touglates/form_field.html' with field=form.start_date %}
    </div>
    <div id="div_end_date">
      {% include 'touglates/form_field.html' with field=form.end_date %}
    </div>



      <button type="Submit">Submit</button>

    </div>

  </form>

