.body, h1, h2 {
    color:darkblue;
}
.hidden {
    display:none;
}

#div_homelogo {
    margin: 5em auto;
    text-align: center;
}
#img_homelogo {
    text-align: center;
    width:40%;
}

.menu-top, .app-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1px 1px;
}

.object-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1px 1px;
}
.menu-cluster {
    display:flex;
    justify-content: space-between;
}

.menu-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1px 1px;
}

.form .formsetform {
    margin-left:2em;
}

.form .form-field-outer-wrapper {
    margin-top:.5em;
}

.form .form-field-inner-wrapper {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    margin-top:.5em;
}

.form .form-field-label {
    width:15%;
}


.form .form-field-control {
    width:80%;
    display:flex;
}


.form .form-field-help-text {
    width:80%;
    margin-left:15%;
}
.list {
    width:100%;
    display:table;
}
.list .row, .list .rowhead {
    display:table-row
}
.list .rowhead {
    background-color:#eeeeff;
}

.list .list-field {
    display:table-cell;
    border: 1px solid lightblue;
    padding-left: .2em;
    padding-right: .2em;
}
.list .rowhead .field {
    border:1px solid blue;
}
.list .field::after {
    content: "\00a0"
}


.control .label {
    flex-grow:0;
    width:15%;
}

.detail .detailset {
    margin-left:2em;
}
.detail .field-outer-wrapper {
    display:flex;
    width:100%;
}

.detail .detail-field-inner-wrapper {
    display:flex;
    width:100%;
    margin-top:.5em;
}

.detail .control {
    display:flex;
}

.detail .detail-field-label {
    width:15%;
}

.detail .help_text {
    margin-left:15%;
}

.errors {
    color:red;
}

.relatedset {
    margin-left:2em;
}

/* Colors, Font, etc, */
.menu a {
    text-decoration: none;
}

/* Colors */
.menu {
    color: white;
    background-color:cornflowerblue;
}

.menu-here {
    border:1px solid black;
    font-weight: bold;

}
.app-menu {
    background-color:cadetblue
}

.menu a:link, .menu a:visited, button.menu-item  {
    color:white;
}

button.menuitem  {
    background:transparent;
    font:inherit;
}


input.widthshort {
    width:15%;
}
input.widthlong {
    width:75%;
}
input.widthxlong {
    width:100%;
}
textarea.widthlong {
    width:75%;
}
textarea.widthxlong {
    width:95%;
}
